*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
a{
  text-decoration: none;
}
.logo-image{
    width: 4rem;
}
.header-first-div{
    background-color: rgb(188, 188, 252);
    color: white;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:3%;
    position: fixed;
    width: 100vw;
}
.flex-box-a{
  background-color: blue;
}
.header-second-div{
  background-image: url(./st.jpg);
  background-position: center;
  background-size: cover;
  max-width: 100vw;
  min-height: 600px;
  padding-block: 200px 100px;
}
.header-first-h1{
  font-size: 80px;
  text-align: center;
  color: white;
}
.header-first-p{
  font-size: 30px;
  text-align: center;
  color: white;
}
.About-div-a{
  display: flex;
  max-width: 1000px;
  /* background-color: aquamarine; */
  margin-inline: auto;
  justify-content: space-between;
  min-height: 286px;
  gap: 30px;
}
#about{
  padding: 30px 30px;
  
}
.About-div-b{
  max-width: 550px;
  line-height: 40px;
}
.About-div-c{
  max-width: 400px;
}
.About-img-a{
  max-width: 400px;
  min-height: 286px;
}
.About-h1-a{
  margin-block: 30px;
}
.about-hr{
  height: 5px;
  color: greenyellow;
  width: 100px;
  margin-top: -25px;
  background-color: greenyellow;
  margin-bottom: 40px;
}
.Nav-a{
  display: flex;
  padding-inline: 60px;
  gap: 3rem;
}
.Nav-a a{
  color: white;
  border-bottom:1px solid transparent;
}
.link-a:hover{
  color: greenyellow;
  border-bottom: 1px solid white;
}
/* hiden div section */
.menudiv{
  position: fixed;
  top:5rem;
  background-color:greenyellow ;
  right: 0;
  width: 100vw;
  bottom: 0;
  left: 0;
}